<section
  class="wrapper text-center py-24 grid gap-12 md:grid-cols-2 md:text-left"
>
  <article>
    <span class="bg-_orange px-6 rounded-full py-2 mr-2">🌴</span>
    <h2 class="inline-flex text-3xl font-bold text-_darkBlue mb-6 md:text-4xl">
      ¿Quiénes somos?
    </h2>
    <p class="text-_gray">
      La <strong>Asociación de Campesinos Unidos por un Mañana Mejor</strong> (ASCUMM) organización jurídica entidad sin ánimo de lucro que se fundó en el año 2018.
    </p>
  </article>

  <div class="grid gap-12">
    <article class="space-y-4 md:space-y-6">
      <div
        class="bg-_beige rounded-l-full font-bold flex items-center md:bg-transparent"
      ></div>
      <span class="bg-_orange text-white px-6 rounded-full py-2">✨</span>
      <h1 class="inline-flex p-2 font-bold">Nuestra Misión</h1>
      <p class="text-_gray text-left">
        Somos una empresa con proyección regional, sólida y sostenible;
        producimos, y comercializamos productos piscícolas de agua dulce entre
        los cuales tenemos Bocachico, Cachama; productos agropecuarios y del
        campo de excelente calidad e higiene, para brindar el más alto grado de
        satisfacción a nuestros clientes y garantizar un óptimo nivel de
        rentabilidad para nuestra Asociación.
      </p>
    </article>

    <article class="space-y-4 md:space-y-6">
      <div
        class="bg-_beige rounded-l-full font-bold flex items-center md:bg-transparent"
      ></div>
      <span class="bg-_orange text-white px-6 rounded-full py-2">👓</span>
      <h1 class="inline-flex p-2 font-bold">Nuestra Visión</h1>
      <p class="text-_gray text-left">
        Para el año 2025 nos convertiremos en una de las principales empresas
        piscícolas y agropecuarias de la región, llevando a disposición de
        nuestra distinguida clientela productos de excelente calidad, con valor
        agregado y responsabilidad con el medio ambiente; generadora desarrollo
        y empleo para nuestra asociación y la comunidad.
      </p>
    </article>
  </div>
</section>
